body{
    background-color:white;
}
.border-header{
    background-color: rgb(9, 9, 59);
    margin: -10px;
    width: 101.3%;
    height: 40px;
    
}
.facebook{
float: right;
margin-top: -25px;
margin-right: -300px;
width: 30px;
height: 30px;
border-radius: 100px 100px 100px 100px;
}
.instagram{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -25px;
    margin-right: -340px;
    border-radius: 100px 100px 100px 100px;
}
.twitter{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -25px;
    margin-right: -380px;
    border-radius: 100px 100px 100px 100px;
}
.border-footer{
    margin-left: -10px;
    margin-right: -7px;
    border-bottom:50px solid rgb(9, 9, 59);
    margin-top: 155px;
}

.menu{
    float:right;
    color: gray;
    font-size: 20px;
    margin: 100px;
    margin-top: -20px;
    margin-right: 200px;
    margin-left: -150px;
 
}
.texto-abajo{
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: -35px;
}
.texto{
    color:white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: -150px;
  
}
.titulo{
    font-size: 20px;
    color: black;
    margin-top: 200px;
    margin-left: 260px;
}
.datos-empresa{
  
    color: black;
    font-size: 6px;
    margin-left: 300px;
    margin-top: -200px;
}
.Whats{
    color: black;
    font-size: 6px;
    margin-left: 300px;
}
.Website{
    color: black;
    font-size: 10px;
    margin-left: 300px;
}


.label-text{
    font-size: 20px;
    color: navy;
    width: 20px;
    height: 15px;
    margin-left: 750px;
    margin-top: -200px;
    padding-bottom: 10px;
}
    
.btn-neon{
    margin-left: 950px;
    position: relative;
    display: inline-block;
    padding: 8px 15px;
    letter-spacing: 5px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;  
    color: black;
    margin-top: 40px;
    }
    .btn-neon:hover
    {
    background-color: rgb(243, 217, 102);
    box-shadow: 10 10 10px black, 10 10 40px
    black, 0 0 80px black;
    }
    



