body{
    background-color:white;
}
.fondo{

    width: 1200px;
    height: 639px;
    margin-left: 100px;
}
.texto{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    margin: -400px;
    border-color: green;
}
.entrar{
    color: gold;
    font-size: 40px;
    margin-left: 350px;
    margin-top: -320px;
    text-shadow: gold;
    border-radius: 3px;
    box-shadow: gold;


}
