body{
    background-color: black;
}

.fondo{
    width: 1490px;
    height: 670px;
}
.texto-center{
    font-size: 30px;
    color: white;
    font-style: oblique;
    margin-left: 300px;
    margin-top: -450px;
}
.enlace{
    font-size: 50px;
    margin-left: 350px;
    color: yellow;
    text-decoration: none;
    text-shadow: 20px;

    
}
