body{
    background-color:white;
}
.border-header{
    background-color: white;
    margin: -10px;
    width: 101.3%;
    height: 40px;
}
.facebook{
float: right;
margin-top: -12px;
margin-right: -150px;
width: 30px;
height: 30px;
border-radius: 100px 100px 100px 100px;
}
.instagram{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -25px;
    margin-right: -340px;
    border-radius: 100px 100px 100px 100px;
}
.twitter{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -25px;
    margin-right: -380px;
    border-radius: 100px 100px 100px 100px;
}
.border-footer{
    margin-left: -10px;
    margin-right: -7px;
    border-bottom:50px solid rgb(9, 9, 59);
    margin-top: 50px;
}
.titulo{
    color: red;
}
.menu{
    float:right;
    color: gray;
    font-size: 20px;
    margin: 100px;
    margin-top: -20px;
    margin-right: 200px;
    margin-left: -150px;
 
}
.texto-abajo{
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: -35px;
}
.texto{
    color: rgb(4, 4, 78);
    font-size: 30px;
    margin-left: 30px;
    margin-top: -35px;    
}
.img1{
    width: 1520px;
    height: 300px;
    margin-left: -4px;
    margin-top: -90px;
}
.texto-centro{
    font: xx-large;
    color: white;
    font-size: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -150px;
    margin-left: 700px;
}
.foto1{

    width: 160px;
    height: 100px;
    margin-top: 70px;
    margin-left: 100px;
    border-radius: 100px 100px 100px 100px;
    
}
.foto2{

    width: 160px;
    height: 100px;
    margin-top: -15px;
    margin-left: 300px;
    border-radius: 100px 100px 100px 100px;
}
.foto3{

    width: 160px;
    height: 100px;
    margin-top: -55px;
    margin-left: 500px;
    border-radius: 100px 100px 100px 100px;
}
.uno{
    font-size: 20px;
    color: rgb(8, 14, 73);
    margin-top: -100px;
    margin-left: 210px;
}
.uno{
    font-size: 20px;
    color: rgb(8, 14, 73);
    margin-top: -100px;
    margin-left: 210px;
}
.dos{
    font-size: 20px;
    color: rgb(8, 14, 73);
    margin-top: -100px;
    margin-left: 610px;
}
.tres{
    font-size: 20px;
    color: rgb(8, 14, 73);
    margin-top: -100px;
    margin-left: 1000px;
}

