body{
    background-color: white;
}
.border-header{
    background-color: rgb(2, 2, 39);
    margin: -10px;
    width: 101.3%;
    height: 40px;
 
}

.facebook{
    float: right;
    margin-top: -12px;
    margin-right: -100px;
    width: 30px;
    height: 30px;
    border-radius: 100px 100px 100px 100px;
}
.instagram{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -25px;
    margin-right: -240px;
    border-radius: 100px 100px 100px 100px;
}
.twitter{
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -25px;
    margin-right: -280px;
    border-radius: 100px 100px 100px 100px;
}


.border-footer{
    margin-left: -10px;
    margin-right: -7px;
    margin-top: 555px;
    border-bottom:50px solid rgb(9, 9, 59);

}

.menu{
    float:right;
    color: gray;
    font-size: 20px;
    margin: 100px;
    margin-top: -20px;
    margin-right: 200px;
    margin-left: -150px;
 
}
.img1{
    float: left;
    margin-top: 30px;
    margin-left: 60px;
    width: 150px;
    height: 150px;
    border-radius: 50px 50px 50px 50px;
}
.img2{
    float: left;
    margin-top: 30px;
    margin-left: 80px;
    width: 150px;
    height: 150px;
    border-radius: 50px 50px 50px 50px;
}
.img3{
    float: left;
    margin-top: 30px;
    margin-left: 70px;
    width: 150px;
    height: 150px;
    border-radius: 50px 50px 50px 50px;
}
.img4{
    float: left;
    margin-top: 30px;
    margin-left: 80px;
    width: 150px;
    height: 150px;
    border-radius: 50px 50px 50px 50px;
}

.img5{
    float: right;
    width: 150px;
    height: 150px;
    margin-top: 60px;
    margin-right: 520px;
    border-radius: 50px 50px 50px 50px;
  
}
.img6{
    float: right;
    width: 120px;
    height: 120px;
    margin-right: 110px;
    border-radius: 50px 50px 50px 50px;
    margin-top: 80px;
}

.img7{
    float: right;
    width: 150px;
    height: 150px;
    margin-right: -130px;
    margin-left: 150px;
    border-radius: 50px 50px 50px 50px;
    margin-top: 60px;
}

.img8{
float: left;
width: 150px;
height: 150px;
margin-top: -40px;
margin-left: 400px;
}

.texto{
color: white;
font-size: 30px;
margin-left: 30px;
margin-top: -35px;

}
.texto-abajo{
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: -44px;
} 
.pro1
{
font-size: 10px;
margin-top: 50px;
margin-left: 80px;    
}
.pro2
{
font-size: 10px;
margin-top: 50px;
margin-left: 80px;    
}
.pro3 
{
font-size: 10px;
margin-top: 50px;
margin-left: 80px;    
}
.pro5
{
font-size: 10px;
margin-left: -500px;
}
.pro6{
font-size: 10px;
margin-left: -80px;
}
.pro7{
font-size: 10px;
margin-left: 150px;
margin-right: -150px;
}
.pro8{
    font-size: 10px;

    margin-left: 400px;
    margin-top: 100px;
    }